:root {
    --base: #ecf0f1;
    --side: #95A5A6;
}

* {
    background-color: var(--base);
}

div{
  line-height: 1.5;
}

.container-fluid {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}

body {
    background-color: var(--base) !important;
}

hr {
    border: 1px solid black !important;
}

#textdiv {
    margin-top:0.3vh;
    overflow: scroll;
    max-height: 99.5vh;
}

.officeimg
{
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
}

.imgppl{
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
}

.btn-modifica {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary:disabled{
    background-color:lightgray;
    color:black;
    border:1px solid black;
}

.btn-primary:disabled:hover{
    background-color:gray !important;
    color:black;
}

.btn-danger:disabled{
    background-color:lightgray;
    color:black;
    border:1px solid black;
}

.btn-danger:disabled:hover{
    background-color:gray !important;
    color:black;
}

.selform{
  height: 40px;
  font-size: 15px;
}

.disponibilita{
  margin-bottom: 20px;
}

.success_upd{
  text-align: center;
  border:1px solid green;
  font-size: 15px;
}

.fail_upd{
  text-align: center;
  border:1px solid red;
  font-size: 15px;
}

.butdiv{
text-align: center;
}

.butdiv button{
  color:#1B1B1B;
  font-weight: bold;
}

.btn-success{
  color:#1B1B1B !important;
  font-weight: bold;
}

#textdiv .disp-btn{
  color:#1B1B1B;
  font-weight: bold;
}

.nonDisp *{
  background-color: lightgray
}

.mod-btn-cont{
  max-width: 800px;
}

 .pend{
  font-size: 16px;
  margin-top: 10px;
}

 .nolo{
  font-size: 16px;
  margin-top: 10px;
}

.btn-revoke{
  border:1px solid black !important;
  background-color: transparent;
  color:red;
  display: inline-block;
}

.btn-revoke:disabled
{
  border:1px solid black;
  background-color: lightgray;
  color:black;
  display: inline-block;
}

.fattdata{
  border:1px solid black;
  margin-top: 10px;
}

.fattdata p{
  margin-left: 20px;
}
